@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model HerPortal.Models.HomepageViewModel

<h1 class="govuk-heading-l">Referral Files</h1>

@if (Model.UserHasNewUpdates)
{
    <p class="govuk-body govuk-!-font-weight-bold">Changes have been made that you have not yet downloaded.</p>
}

@if (Model.CsvFiles.Any())
{
    <div class="horizontally-scrollable">
        @(await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Month/Year",
                },
                new()
                {
                    Text = "Region/LA",
                },
                new()
                {
                    Text = "Last updated",
                },
                new()
                {
                    Text = "Updates",
                },
            },
            Rows = Model.CsvFiles.Select(cf => new TableRowViewModel
                {
                    Row = new List<TableCellViewModel>
                    {
                        new()
                        {
                            Html = @<a class="govuk-link" asp-controller="CsvFile" asp-action="GetCsvFile" asp-route-custodianCode="@cf.CustodianCode" asp-route-year="@cf.Year" asp-route-month="@cf.Month" download>@cf.MonthAndYearText</a>
                        },
                        new()
                        {
                            Text = cf.LocalAuthorityName,
                        },
                        new()
                        {
                            Text = cf.LastUpdatedText,
                        },
                        new()
                        {
                            Html = cf.HasNewUpdates
                                ? @<text>@(await Html.GovUkTag(new TagViewModel{ Classes = "govuk-tag--green", Text = "New" }))</text>
                                : null
                        },
                    },
                }).ToList(),
            FirstCellIsHeader = false,
        }))
    </div>

    if (Model.PaginationDetails is not null)
    {
        @await Html.GovUkPagination(Model.PaginationDetails)
    }
}
else
{
    <p class="govuk-body govuk-!-font-weight-bold">No applications fit the selected filters.</p>
}
