@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model HerPortal.Models.HomepageViewModel

<h2 class="govuk-heading-l">Referral Files</h2>
<p class="govuk-body">For the Home Upgrade Grant 2.</p>
<p class="govuk-body">Select the "Month/Year" to download the referral file.</p>

@if (Model.UserHasNewUpdates)
{
    <p class="govuk-body govuk-!-font-weight-bold">Changes have been made that you haven’t yet downloaded.</p>
}

@if (Model.CsvFiles.Any())
{
    @(await Html.GovUkTable(new TableGovUkViewModel
    {
        Head = new List<TableCellViewModel>
        {
            new()
            {
                Text = "Month/Year",
            },
            new()
            {
                Text = "Region/LA",
            },
            new()
            {
                Text = "Last updated",
            },
            new()
            {
                Text = "Updates",
            },
        },
        Rows = Model.CsvFiles.Select(cf => new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new()
                    {
                        Html = @<a class="govuk-link" asp-controller="CsvFile" asp-action="GetCsvFile" asp-route-custodianCode="@cf.CustodianCode" asp-route-year="@cf.Year" asp-route-month="@cf.Month" download>@cf.MonthAndYearText</a>
                    },
                    new()
                    {
                        Text = cf.LocalAuthorityName,
                    },
                    new()
                    {
                        Text = cf.LastUpdatedText,
                    },
                    new()
                    {
                        Html = cf.HasNewUpdates
                            ? @<text>@(await Html.GovUkTag(new TagViewModel{ Classes = "govuk-tag--green", Text = "New" }))</text>
                            : null
                    },
                },
            }
        ).ToList(),
        FirstCellIsHeader = false,
    }))
}
else
{
    <p class="govuk-body govuk-!-font-weight-bold">No applications fit the selected filters.</p>
}
