@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model WhlgPortalWebsite.Models.HomepageViewModel

<h1 class="govuk-heading-l">Referral Files</h1>

@if (Model.UserHasNewUpdates)
{
    <p class="govuk-body govuk-!-font-weight-bold">Changes have been made that you have not yet downloaded.</p>
}

@if (Model.CsvFiles.Any())
{
    <div class="horizontally-scrollable">
        @(await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Month/Year"
                },
                new()
                {
                    Text = "Region/LA"
                },
                new()
                {
                    Text = "Last updated"
                },
                new()
                {
                    Text = "Updates"
                },
                Model.ShowLegacyColumn
                    ? new TableCellViewModel
                    {
                        Text = "Contains Legacy Referrals"
                    }
                    : null
            }.Where(row => row != null).ToList(),
            Rows = Model.CsvFiles.Select(cf => new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new()
                    {
                        Html = @<a class="govuk-link" href="@cf.DownloadLink" download>@cf.MonthAndYearText</a>
                    },
                    new()
                    {
                        Text = cf.Name
                    },
                    new()
                    {
                        Text = cf.LastUpdatedText
                    },
                    new()
                    {
                        Html = cf.HasNewUpdates
                            ? @<text>@(await Html.GovUkTag(new TagViewModel { Classes = "govuk-tag--green", Text = "New" }))</text>
                            : null
                    },
                    Model.ShowLegacyColumn
                        ? new TableCellViewModel
                        {
                            Html = cf.ContainsLegacyReferrals
                                ? @<text>@(await Html.GovUkTag(new TagViewModel { Classes = "govuk-tag--yellow", Text = "HUG2" }))</text>
                                : null
                        }
                        : null
                }.Where(row => row != null).ToList()
            }).ToList(),
            FirstCellIsHeader = false
        }))
    </div>

    @await Html.GovUkSimplePagination(Model.CurrentPage, Model.PageUrls)
}
else
{
    <p class="govuk-body govuk-!-font-weight-bold">No applications fit the selected filters.</p>
}
