@model HerPortal.Models.HomepageViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@if (Model.ShouldShowBanner)
{
    @(await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        TitleText = "Welcome",
        Text = "Read all contents in the \"Supporting documents\" tab first",
    }))
}

<h2 class="govuk-heading-l">Referral Files</h2>
<p class="govuk-body">For the Home Upgrade Grant 2.</p>
<p class="govuk-body govuk-!-font-weight-bold">You have not received any applications yet.</p>

@(await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>
    {
        new()
        {
            Text = "Month/Year",
        },
        new()
        {
            Text = "Region/LA",
        },
        new()
        {
            Text = "Last updated",
        },
        new()
        {
            Text = "Updates",
        },
    },
    Rows = Model.CsvFiles.Select(cf => new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Html = @<a class="govuk-link" href="#">@cf.MonthAndYear</a>
                },
                new()
                {
                    Text = cf.LocalAuthorityName,
                },
                new()
                {
                    Text = cf.LastUpdated,
                },
                new()
                {
                    Html = cf.HasApplications
                        ? cf.HasNewUpdates
                            ? @<text>@(await Html.GovUkTag(new TagViewModel{ Classes = "govuk-tag--green", Text = "New" }))</text>
                            : null
                        : @<text>@(await Html.GovUkTag(new TagViewModel{ Classes = "govuk-tag--grey", Text = "No applications yet" }))</text>
                },
            },
        }
    ).ToList(),
    FirstCellIsHeader = false,
}))
