@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPortalWebsite.Controllers
@model WhlgPortalWebsite.Models.ServiceManagerHomepageViewModel

@{
    ViewBag.Title = "Warm Homes: Local Grant Portal";
}

<h1 class="govuk-heading-xl">Warm Homes: Local Grant Service Manager Portal</h1>

@if (Model.ShowTaskSuccess)
{
    @await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        Text = Model.TaskSuccessText,
    })
}

<h2 class="govuk-heading-l">Manage Local Authority/Consortia Users</h2>
<h3 class="govuk-heading-m">Add a new user</h3>
@(await Html.GovUkButton(new ButtonViewModel
{
    Text = "Add new user",
    Href = Url.Action("OnboardDeliveryPartner_Get", "ServiceManager")
}))

<h3 class="govuk-heading-m">View existing users</h3>
<form method="get">
    @(await Html.GovUkTextInputFor(
        m => m.SearchEmailAddress,
        labelOptions: new LabelViewModel
        {
            Text = "Search for a user"
        },
        placeholder: "User email"))

    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Search"
    }))
</form>

@await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>
    {
        new()
        {
            Text = "Email"
        },
        new()
        {
            Text = "Manages"
        },
        new()
        {
            Text = "Assign"
        },
        new()
        {
            Text = "Delete"
        }
    },
    Rows = Model.UserList.Select(user => new TableRowViewModel
    {
        Row = new List<TableCellViewModel>
        {
            new()
            {
                Text = user.EmailAddress
            },
            new()
            {
                Text = user.Manages
            },
            new()
            {
                Html = @<a class="govuk-link" href="@Url.Action("AssignCodesToDeliveryPartner_Get", "ServiceManager", new { userId = user.Id })">Assign to authority</a>
            },
            new()
            {
                Html = @<a class="govuk-link" href="@Url.Action("ConfirmDeleteDeliveryPartner_Get", "ServiceManager", new { userId = user.Id })">Delete user</a>
            }
        }
    }).ToList()
})

<h2 class="govuk-heading-l">Run regular jobs manually</h2>
<h3 class="govuk-heading-m">Send unread referrals reminder email</h3>
<p class="govuk-body">This will send emails to all onboarded Delivery Partners who have unread referrals in the portal reminding them to review them.</p>
<p class="govuk-body">This typically runs at 07:00am GMT daily.</p>
<form method="post" action="@Url.Action(nameof(ServiceManagerController.SendReminderEmails_Post), "ServiceManager")">
    @Html.AntiForgeryToken()
    <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="confirmRunJob" name="confirmRunJob" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" for="confirmRunJob">
                    I confirm I want to manually run this job
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" draggable="false" role="button">
        Run Job Now
    </button>
</form>