@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPortalWebsite.Controllers
@model WhlgPortalWebsite.Models.ServiceManagerHomepageViewModel

@{
    ViewBag.Title = "Warm Homes: Local Grant Portal";
}

<h1 class="govuk-heading-xl">Warm Homes: Local Grant Service Manager Portal</h1>

@if (Model.ShowJobSuccess)
{
    @await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        Text = Model.ShowJobSuccessText,
    })
}

<h2 class="govuk-heading-l">Manage Local Authority/Consortia Users</h2>
<h3 class="govuk-heading-m">Add a new user</h3>
@(await Html.GovUkButton(new ButtonViewModel
{
    Text = "Add new user",
    Href = Url.Action("OnboardDeliveryPartner_Get", "ServiceManager")
}))

<h3 class="govuk-heading-m">View existing users</h3>
<form method="get">
    @(await Html.GovUkTextInputFor(
        m => m.SearchEmailAddress,
        labelOptions: new LabelViewModel
        {
            Text = "Search for a user"
        },
        placeholder: "User email"))

    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Search"
    }))
</form>

@await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>
    {
        new()
        {
            Text = "Email"
        },
        new()
        {
            Text = "Manages"
        },
        new()
        {
            Text = "Actions"
        },
        new()
        {
            Text = ""
        }
    },
    Rows = Model.UserList.Select(user => new TableRowViewModel
    {
        Row = new List<TableCellViewModel>
        {
            new()
            {
                Text = user.EmailAddress
            },
            new()
            {
                Text = user.Manages
            },
            new()
            {
                Html = @<a class="govuk-link" href="@Url.Action("AssignCodesToDeliveryPartner_Get", "ServiceManager", new { userId = user.Id })">Assign to authority</a>
            },
            new()
            {
                Html = @<a class="govuk-link" href="@Url.Action("DeleteDeliveryPartner_Get", "ServiceManager", new { userId = user.Id })">Delete</a>
            }
        }
    }).ToList()
})

@if (Model.ShowManualJobRunner)
{
    <h2 class="govuk-heading-l">Run regular jobs manually</h2>
    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        Text = "Regular jobs can only be run manually on pre-production environments."
    })
    <h3 class="govuk-heading-m">Send unread referrals reminder email</h3>
    <p class="govuk-body">This will send emails to all onboarded Delivery Partners who have unread referrals in the portal reminding them to review them.</p>
    <p class="govuk-body">This typically runs at 07:00am GMT daily.</p>
    <form method="post" action="@Url.Action(nameof(ServiceManagerController.SendReminderEmails_Post), "ServiceManager")">
        @Html.AntiForgeryToken()
        <button type="submit" class="govuk-button" data-module="govuk-button" draggable="false" role="button">
            Run Job Now
        </button>
    </form>
}