@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPortalWebsite.Controllers
@using WhlgPortalWebsite.Helpers
@using WhlgPortalWebsite.Middleware
@using WhlgPortalWebsite.Services
@using Microsoft.Extensions.Configuration
@inject StaticAssetsVersioningService StaticAssetsVersioning
@{
    string assetsPath = $"{Constants.BASE_PATH}/assets";
}
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class govuk-template--rebranded">
<head>
    <meta charset="utf-8"/>
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - " : "") @Constants.SERVICE_NAME - Gov.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" sizes="48x48" href="@(assetsPath)/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="@(assetsPath)/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="@(assetsPath)/rebrand/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="@(assetsPath)/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="@(assetsPath)/rebrand/manifest.json">

    <!--[if !IE 8]><!-->
    <link href="@(StaticAssetsVersioning.GetAppCssFilename())" rel="stylesheet" />
    <!--<![endif]-->
    
    <!--[if lt IE 9]>
        <script nonce="@Context.GetScriptNonce()" src="@(StaticAssetsVersioning.GetHtml5ShivJsFilename())"></script>
    <![endif]-->
    
    <meta property="og:image" content="@(assetsPath)/rebrand/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body app-body-class">
    <script nonce="@Context.GetScriptNonce()">
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    @{
        var headerNavigationLinks = new List<HeaderNavigationViewModel>();

        if (User.Identity?.IsAuthenticated is true)
        {
            headerNavigationLinks.Add(new HeaderNavigationViewModel
            {
                Text = $"({User.GetEmailAddress()}) Sign Out",
                Href = Configuration["Authentication:Cognito:SignOutUrl"],
                Active = true
            });
        }

        @(await Html.GovUkHeader(new HeaderViewModel
        {
            ServiceName = Constants.SERVICE_NAME,
            AssetsPath = assetsPath,
            HomepageUrl = "https://www.gov.uk",
            ServiceUrl = Constants.BASE_PATH,
            Navigation = headerNavigationLinks
        }))

    }

    <div class="govuk-width-container">
        
        @(await Html.GovUkPhaseBanner(new PhaseBannerViewModel
        {
            Phase = "Beta",
            Html = @<text>This is a new service – your <a class="govuk-link" href="@Constants.FEEDBACK_URL_DEFAULT" target="_blank" rel="noreferrer noopener">feedback (opens in new tab)</a> will help us to improve it.</text>
        }))

        @(RenderSection("BeforeMain", false))

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @(await Html.GovUkErrorSummary(ViewData.ModelState))
            @RenderBody()
        </main>
    </div>

    @await Html.GovUkFooter(new FooterViewModel
    {
        MetaNavigation = new FooterMetaNavigationViewModel
        {
            Links = new[]
            {
                new FooterLinksViewModel
                {
                    Text = "Privacy Policy",
                    Href = Url.Action(nameof(StaticPagesController.PrivacyPolicy), "StaticPages")
                }
            }
        }
    })

    <script nonce="@Context.GetScriptNonce()" src="@(StaticAssetsVersioning.GetAppJsFilename())" type="module"></script>
    <script nonce="@Context.GetScriptNonce()" type="module">
        import { initAll } from '@(StaticAssetsVersioning.GetAppJsFilename())'
        initAll();
    </script>
</body>
</html>