@using Microsoft.AspNetCore.Mvc.TagHelpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.Controllers
@model HerPortal.Models.Cookies.CookieSettingsViewModel
@{
    ViewBag.Title = $"Cookies on our service";
}

<div class="govuk-grid-row cookie-settings-page">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ChangesHaveBeenSaved)
        {
            @await Html.GovUkNotificationBanner(new NotificationBannerViewModel
            {
                Text = "You’ve set your cookie preferences.",
                Type = "success"
            })
        }

        <form method="POST" action="@Url.Action(nameof(CookieController.CookieSettings_Post), "Cookie")">
            
            @Html.AntiForgeryToken()
            <h1 class="govuk-heading-xl">Cookies on our service</h1>
            <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
            <p class="govuk-body">We use cookies to store information about how you use our service, such as the pages you visit.</p>
            <p class="govuk-body">
                This page has a brief explanation of each type of cookie we use. If you want more details,
                <a href="@Url.Action(nameof(CookieController.CookieDetails), "Cookie")" class="govuk-link"> read our detailed cookie information</a>
            </p>

            <h2 class="govuk-heading-l">Cookie settings</h2>
            <p class="govuk-body">We use 2 types of cookies. You can choose which cookies you're happy for us to use.</p>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="GoogleAnalyticsGpg-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h3 class="govuk-fieldset__heading">Cookies used to make our service better</h3>
                    </legend>
                    <p class="govuk-body">We use Google Analytics to measure how you use the service so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>how you got to the site</li>
                        <li>the pages you visit on the service and how long you spend on them</li>
                        <li>what you click on while you’re visiting the site</li>
                    </ul>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            @(Html.RadioButtonFor(m => m.GoogleAnalytics, true,
                                new
                                {
                                    @class = "govuk-radios__input",
                                    id = "GoogleAnalyticsGpg__On",
                                    @checked = Model.GoogleAnalytics
                                }))
                            <label class="govuk-label govuk-radios__label" for="GoogleAnalyticsGpg__On">
                                On
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            @(Html.RadioButtonFor(m => m.GoogleAnalytics, false,
                                new
                                {
                                    @class = "govuk-radios__input",
                                    id = "GoogleAnalyticsGpg__Off",
                                    @checked = !Model.GoogleAnalytics
                                }))
                            <label class="govuk-label govuk-radios__label" for="GoogleAnalyticsGpg__Off">
                                Off
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <h3 class="govuk-heading-m">Strictly necessary cookies</h3>

            <p class="govuk-body">These essential cookies do things like:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>remember your progress through the service</li>
                <li>remember notifications you’ve seen so that we don’t show them again</li>
            </ul>
            <p class="govuk-body">They always need to be on.</p>

            <input type="submit" class="govuk-button" data-module="govuk-button" value="Confirm"/>

        </form>

    </div>
</div>